<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DB_InBoardProEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Users\GLB-110\AppData\Local\InBoardPro\DB_InBoardPro.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>